
/* [START] USER NAVBAR */
.navbar-user-info{
	margin: 0.7em;
	height: 64px;
}
.brand{
	margin-top:0.7em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { .navbar-user-info { width: 60%; }}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .navbar-user-info{ width: 60%; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .navbar-user-info { width: 60%; } }

.navbar-user p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.1em;
}

.navbar-user .well {
	min-height: 62px;
	margin-bottom: 10px;
	padding: 10px;
}

.navbar-user-info>h1{
	margin-top: 12px;
}

.navbar-user-info .btn{
	padding: 5px 12px;
}

/* [END] USER NAVBAR */

/* [START] TICKETS */
.ticket-slot{
	margin-bottom: 0.3em;
	padding-right: 5px;
	padding-left: 5px;
	min-height: 3em;
}
.ticket-slot .media>.pull-left {
	margin-right: 5px;
}
.ticket-slot .well-sm {
	padding: 2px;
	border-radius: 3px;
	margin: 0px;
	min-height: 5em;
}
.ticket-slot span {
	vertical-align: -webkit-baseline-middle;
}
.ticket-slot .btn {
	min-height: 5em;
}

.ticket-slot .winner-ticket {
	background-color: rgba(92, 184, 92, 0.4);
}

.ticket-old{
	border-bottom: 1px solid #2c2c2c;
	height:2em;
	padding: 0 0.5em 0 0.5em;
	border-radius: 3px;
}
.ticket-old>span{
	vertical-align:middle;
	display:inline-block;
	line-height:normal;
	text-align:left;
}
.panel-old-lot{
	padding: 0;
}

.panel-lot{
	padding: 7px 15px 1px 15px;
}


/* [END] TICKETS */

/* [START] ADMIN MENU */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 600px;
	margin-top: -10px;
	margin-left: -250px;
	overflow-y: auto;
	background: #222;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
	color: #999999;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 20px;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

/* [END] ADMIN MENU */

/* [START] FOOTER */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 10em;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10em;
	background-color: #2c2c2c;
	margin-top: 1em;
}

.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
/* [END] FOOTER */

/* [START] ITEM PANEL */
#collapse-item>.panel-body>.row{
	margin-bottom:1em;
}

.item-panel{
	margin-bottom:0.5em;
	padding: 0 5px;
}

.item-panel .row{
	margin-bottom:0.1em;
}
.ticket-modal{
	margin-bottom:0.5em;
}

.item-well{
	min-height: 10.2em;
	margin-bottom: 0px;
	padding: 0.5em 1.5em 0.5em 1.5em;
}

.item-panel p{
	margin-bottom:0em;
}

.item-panel h3{
	white-space: initial; 
	margin-top:3px; 
	margin-bottom:0px; 
	font-size:1.23em;
	text-align: center;
}
.col-item{
	padding-right: 5px;
	padding-left: 5px;
}


/* [END] ITEM PANEL */

/* [START] AWARD PANEL */

.panel-body-awards{
	min-height: 13em;
}

.panel-body-awards>.well{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}


/* [END] AWARD PANEL */

img{
	border-radius: 4px;
}