
/* [START] USER NAVBAR */
.navbar-user-info{
	margin: 0.7em;
	height: 64px;
}
.brand{
	margin-top:0.7em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { .navbar-user-info { width: 60%; }}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .navbar-user-info{ width: 60%; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .navbar-user-info { width: 60%; } }

.navbar-user p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.1em;
}

.navbar-user .well {
	min-height: 62px;
	margin-bottom: 10px;
	padding: 10px;
}

.navbar-user-info>h1{
	margin-top: 12px;
}

.navbar-user-info .btn{
	padding: 5px 12px;
}

/* [END] USER NAVBAR */

/* [START] TICKETS */
.ticket-slot{
	margin-bottom: 0.3em;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 3em;
}
.ticket-slot .media>.pull-left {
    margin-right: 5px;
}
.ticket-slot .well-sm {
    padding: 2px;
    border-radius: 3px;
    margin: 0px;
    min-height: 5em;
}
.ticket-slot span {
    vertical-align: -webkit-baseline-middle;
}
.ticket-slot .btn {
    min-height: 5em;
}




/* [END] TICKETS */

/* [START] ADMIN MENU */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    color: #999999;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* [END] ADMIN MENU */

/* [START] FOOTER */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 10em;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
/* [END] FOOTER */

/* [START] ITEM PANEL */

.item-panel{
    margin-bottom:0.5em;
    padding: 0 5px;
}

.item-panel a{
    min-height: 10em;
}

.item-panel p{
    margin-bottom:0em;
}

.item-panel h3{
    white-space: initial; 
    margin-top:3px; 
    margin-bottom:0px; 
    font-size:1.23em;
}
/* [END] ITEM PANEL */
